{% extends "layout.html" %}

{% set aktiva_lapa = 'asv' %}

{% block saturs %}
<br>
<h1 style="text-align:center">Bildes</h1>
<br>
    <div>
        <h2 style="text-align:center; color: rgb(124, 206, 31)">Arī pitona kursa laikā gribas atmiņās atgriezties kaut kur citur - ASV</h2>
    </div>
<br>
    <img src="/static/img/usa24.jpg" alt="centered image" width="100%" height="100%"  frameborder="0" style="border:0" allowfullscreen>
    
    <h3 style="text-align:center; color: rgb(0, 0, 0)">Twin Peaks, skats uz San Francisco</h3>
    </div>
</div>
<br>
    <img src="/static/img/usa54.jpg" alt="centered image" width="100%" height="100%"  frameborder="0" style="border:0" allowfullscreen>
    
    <h3 style="text-align:center; color: rgb(0, 0, 0)">Ceļā no San Franciso uz Los Angeles</h3>
    </div>
</div>
<br>
    <img src="/static/img/usa196.jpg" alt="centered image" width="100%" height="100%"  frameborder="0" style="border:0" allowfullscreen>
    
    <h3 style="text-align:center; color: rgb(0, 0, 0)">Yosemite NP, Sentinel Dome virsotne</h3>
    </div>
    {% endblock %}