{% extends "layout.html" %}

{% block saturs %}
<br>
<h1 style="text-align:center; color: rgb(124, 206, 31)">Dati no faila</h1>
<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Vārds</th>
            <th scope="col">Uzvārds</th>
            <th scope="col">Hobijs</th>
        </tr>
    </thead>
    <tbody>

        {% for rindina in rindinas %}
        <tr>
            <td>{{ rindina[0] }}</td>
            <td>{{ rindina[1] }}</td>
            <td>{{ rindina[2] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table> -->



<table class="table border=1">
    <thead>
        <tr>
            <th scope="col">Vārds</th>
            <th scope="col">Uzvārds</th>
            <th scope="col">E-pasts</th>
        </tr>
    </thead>
    <tbody>

        {% for rindina in rindinas %}
        <tr>
            <td>{{ rindina['vards'] }}</td>
            <td>{{ rindina['uzvards'] }}</td>
            <td>{{ rindina['epasts'] }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}