{% extends "layout.html" %}

{% set aktiva_lapa = 'home' %}

{% block saturs %}
<br>
<h1 style="text-align:center">Sākums</h1>
<div>   
    <br>
    <h3 style="text-align: center; color:rgb(40, 218, 40);"> Pitona ikvizīcija, otrā daļa - pēdējās asinis </h3>
</div> 

<div class="container">
    <div class="row">
      <div class="col-sm">
    <img style="width: 400px; height: 300px" src="/static/img/snake1.jpg" alt="Pitons1">
  </div>  
  <div class="col-sm">
    <img style="width: 400px; height: 300px" src="/static/img/snake2.jpg" alt="Pitons2">
  </div>
  <div class="col-sm">
    <img style="width: 400px; height: 300px" src="/static/img/snake3.jpg" alt="Pitons3">  
  </div> 
</div>
<br>
<br>
<br>
<br>
<h2 style="text-align: center; color:rgb(40, 218, 40);"> Pāris vārdos par pitonu </h2>
<br>
<br>
<p style="text-align:right font: optional;">Savvaļā tīklotie pitoni sastopami Āzijas dienvidu un dienvidaustrumu daļā un, līdz ar slavenajām anakondām,  tiek uzskatīti par pasaulē garākajām čūskām. Kaut daudzviet rakstīts, ka Filipīnās vai Sumatrā it kā esot manīti pat 10 metrus gari šīs sugas pārstāvji, par īsti ticamiem šie skaitļi gan uzskatīti netiek. Daudzmaz regulāri Indonēzijā gan ķer 5-6 metrus garus indivīdus, kas, ņemot vērā šīs sugas čūsku visai nešpetno raksturu, arī nav nemaz tik vienkārši. Ir gan kāds neapstrīdams fakts – pirms 17 gadiem Bronksas zoodārzā nomiris rekordliels nebrīves tīklotais pitons – 7,5 metri!....</p>
</div> 
<img src="/static/img/pitons4.jpg" class="rounded mx-auto d-block" alt="pitons4">
{% endblock %}
    