{% extends "layout.html" %}

<!-- {% set aktiva_lapa = 'home' %} -->

{% block saturs %}
<br>
<h1 style="text-align:center">Bildes</h1>

<div>   
    <br>
  </div> 
<h3 style="text-align:center; color: rgb(0, 0, 0)">Apmeklējam tempļus, saplūcam tēju</h3>
<div class="container">
    <div class="row">
      <div class="col-xl">
    <img style="width:630px; height: 400px" src="/static/img/134.jpg" alt="Indijas templi">
  </div>  
  <div class="col-xl">
    <img style="width: 630px; height: 400px" src="/static/img/432.jpg" alt="Tējas kalni Nilgiri">
  </div>
  <div
  <br>
  <br>
</div>  
  <h3 style="text-align:center; color: rgb(0, 0, 0)">This is it, tieši tā arī aizmisrstam pitonu!</h3>
  <img src="/static/img/79.jpg" class="centeredimage" width="88%" height="88%">
  {% endblock %}