<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/par_mani.css">
    <title>Kontakti</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/kontakti'>Kontakti</a></li>
            <li><a href='/par_mani'>Par mani</a></li>
        </ul>
    </nav>
    <h1>Par mani</h1>
    <p>Pitons nav mans hobijs</p>
</body>
</html>